/**
 * React Exapndify
 *
 * @author Armen Nersisyan
 */

/* Base Styles for the Expandable Section */
/* ------------------------------------- */

/*
 * Display section as grid with initial row size of 0.
 * Transition controls the expand/collapse animation speed.
 */
.expandable {
  display: grid;
  grid-template-rows: 0fr;
  transition-property: grid-template-rows;
  transition-timing-function: ease-in-out;
}

/* Expanded State for the Expandable Section */
/* ----------------------------------------- */

/*
 * When the 'expanded' class is added to 'expandable',
 * it changes the grid row size to 1 fraction unit.
 */
.expandable.expanded {
  grid-template-rows: 1fr;
}

/* Inner Wrapper Styles */
/* -------------------- */

/*
 * Set overflow to hidden to ensure content outside
 * the grid row doesn't show up during transition.
 */
.expandable-inner {
  overflow: hidden;
}
